.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#web config

src/firebase-config.js
src/proyecto-daw-eba1d-firebase-adminsdk-wou3o-b71ea1cfcd.json